<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net471" />
  <package id="Google.Apis" version="1.44.1" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.44.1" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.44.1" targetFramework="net471" />
  <package id="Google.Apis.Drive.v2" version="1.44.1.1888" targetFramework="net471" />
  <package id="Google.Apis.Gmail.v1" version="1.44.1.1859" targetFramework="net471" />
  <package id="Google.Apis.Sheets.v4" version="1.44.1.1895" targetFramework="net471" />
  <package id="MailKit" version="2.5.2" targetFramework="net471" />
  <package id="MimeKit" version="2.5.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net471" />
</packages>